<div class="col-6 offset-3">
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user do |form| %>
    <div class="mb-3">
      <%= label_tag(:username, "Username", class: "form-label") %>
      <%= form.text_field(:username, class: "form-control", placeholder: "your_username") %>
    </div>

    <div class="mb-3">
      <%= label_tag(:email, "Email address", class: "form-label") %>
      <%= form.text_field(:email, class: "form-control", placeholder: "name@example.com") %>
    </div>

    <div class="mb-3">
      <%= label_tag(:password, "Password", class: "form-label") %>
      <%= form.password_field(:password, class: "form-control") %>
    </div>

    <div class="col-auto">
      <%= form.submit("Submit", class: "btn btn-primary mb-3") %>
    </div>
  <% end %>
</div>
